@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans&family=Poppins&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff00
}

::-webkit-scrollbar-thumb {
    background: #3f3f3f;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}